
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
</head>

<body>
	<div style="margin: auto; width: 50%; padding: 5em;">
		<div>
			<span style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">
				Chatbox
			</span>
		</div>

        {% if request.user.is_authenticated  %}
        <center> Logout the chat Page <a href = "{% url 'logout-user' %}">Logout</a></center>
        {% endif %}

		<div id="chat-text" readonly rows="10"
            style="width: 75%; height: 20em; border: .1em; border-radius: .3em; background-color: lightgrey; margin-top: .7em">
		</div>

		<div style="margin-top: 1em;">
			<form autocomplete="off">
				<div>
					<input id="input" type="text" placeholder="Enter text here"
						style="width: 72%; border: 1px solid #ccc; border-radius: 4px; padding: .7em;">
				</div>

				<div>
					<input id="submit" type="button" value="Send"
						style="width: 75%; border: 1px solid #ccc; border-radius: 4px; padding: .7em; margin-top: 2em;">
				</div>
			</form>
		</div>
	</div>

    <script>
        const wsStart='ws://'
        const endpoint=wsStart + window.location.host + window.location.pathname
        const socket = new WebSocket(endpoint)
        console.log(endpoint)


        socket.onopen =function(e){
            console.log('open',e)
        socket.send(1)
        }

        function codingCourse() {
          console.log(socket);
        }

        setTimeout(codingCourse, 3000);

        // const user_username = "{{request.user.username}}";
        // document.querySelector('#submit').onclick = function (e) {
        //     const messageInputDom = document.querySelector('#input');
        //     const message = messageInputDom.value;

        //     chatSocket.send(JSON.stringify({
        //         'message': message,
        //         'username': user_username,
        //     }));
        //     messageInputDom.value = '';
        // };

        // chatSocket.onmessage = function (e) {
        //     const data = JSON.parse(e.data);
        //     console.log(data)
        //     document.querySelector('#chat-text').value += (data.message + ' sent by ' + data.username   + '\n') 
        // }
    </script>
</body>

</html>